<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Books
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <!-- <ion-icon [name]="item.icon" slot="start"></ion-icon> -->

      <ion-avatar >
        <img src="{{item.img_url}}" alt=""/>
      </ion-avatar>

      {{item.book_name}}
      <div class="item-note" slot="end">
        {{item.date_of_return}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
