<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 text-center margin-top>Enter Details</h4>

  <ion-item>
    <ion-label stacked>Name:</ion-label>
    <ion-input [(ngModel)]="uname" ngModel required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Employee Id:</ion-label>
    <ion-input [(ngModel)]="eid" ngModel required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Username:</ion-label>
    <ion-input [(ngModel)]="username" ngModel required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Password:</ion-label>
    <ion-input type="password" [(ngModel)]="password" ngModel required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Confirm Password:</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword" ngModel required></ion-input>
  </ion-item>

  <ion-item text-center margin-top>
    <ion-button color="secondary" (click)="signupUser()">
      SIGN UP
    </ion-button>
  </ion-item>
</ion-content>
