<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="bookData" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Book Details</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input formControlName="name" type="text" placeholder="Book Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="category" type="text" placeholder="Category" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="subCategory" type="text" placeholder="Sub-Category" ngModel ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="publisher" type="text" placeholder="Publisher" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea formControlName="about" type="text" placeholder="About Book" ngModel required></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-input formControlName="barcode" type="text" placeholder="Barcode" ngModel></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="bookData.invalid" expand="block">Submit</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
