.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

// .new-background-color {
//   --background: green;
// }

.about{ 
  overflow: hidden; 
  white-space: normal; 
  height: 3.2em;  
  text-overflow: -o-ellipsis-lastline; 
} 