<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title >
      Library Management
    </ion-title>
    
  </ion-toolbar>
</ion-header>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" (ionInput)="searchByName($event)" (ionCancel)="setAllItems()"></ion-searchbar>
  </ion-toolbar>

<ion-content>
      <ion-item *ngFor="let user of loadedNameList;let indexOfelement=index;">
        <ion-avatar >
          <img src="{{user.img_url}}" alt=""/>
        </ion-avatar>
        <ion-label (click)="openSearchDetailsWithState(indexOfelement)">
          <ion-note style="font-weight:bold" class="ion-text-uppercase">{{user.name}}</ion-note>
        </ion-label>
      </ion-item>
      <ion-list lines="none">
        <ion-item *ngFor="let data of items ;let indexOfelement=index;">
          <ion-card class="welcome-card" (click)="openDetailsWithState(indexOfelement)">
            <img src="{{data.payload.doc.data().img_url}}" alt=""/>
            <ion-card-header>
              <ion-card-subtitle>{{data.payload.doc.data().author}}</ion-card-subtitle>
              <ion-card-title class="ion-text-uppercase">{{data.payload.doc.data().name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="about">
                {{data.payload.doc.data().about_book}}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list> 

    <!-- </ion-refresher-content>
  </ion-refresher> -->
</ion-content>
